body {
  text-align: center;
}

button {
  display: inline-block;
  font-size: 36px;
  padding: 15px;
  margin: 10px;
}

.pan-label {
  width: 90%;
  display: block;
  margin: 20px 5%;
}

.pan-label .pan {
  width: 100%;
}

.left-speaker-ui, .right-speaker-ui {
  display: none;
}

body.left :not(.left-speaker-ui) {
  display: none;
}

body.left .left-speaker-ui * {
  display: block;
}

body.left .left-speaker-ui {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
}

body.left .left-speaker-ui h1 {
  margin-top: 25%;
}

body.right :not(.right-speaker-ui) {
  display: none;
}

body.right .right-speaker-ui * {
  display: block;
}

body.right .right-speaker-ui, body.right .right-speaker-ui * {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
}

body.right .right-speaker-ui h1 {
  margin-top: 25%;
}

body.right .speaker-left {
  display: none;
}

body.left .speaker-right {
  display: none;
}

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 50px;
  margin: 20px 0;
  border: none;
  padding: 1px 2px;
  border-radius: 25px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%);
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
}